.bracket {
  position: absolute;
  top: 50%;
  transition: opacity ease 1s, left ease 1s, right ease 1s;
}

.bracket p {
  margin: 0;
  padding-bottom: 96px;
  color: var(--primary);
  transition: color 1s ease;
}
